<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee" version="3.0">
	<display-name>sigma</display-name>
	
	<context-param>
		<description></description>
		<param-name>servername</param-name>
		<param-value>localhost:8081</param-value>
	</context-param>
	
	<context-param>
		<description>Numero de intentos que puede hacer el usuario antes de ser bloqueado su acceso</description>
		<param-name>NumIntentosAcceso</param-name>
		<param-value>3</param-value>
	</context-param>
	
	<context-param>
		<description></description>
		<param-name>ServerMail</param-name>
		<param-value>172.22.107.25</param-value>
	</context-param>
	
	<context-param>
		<description></description>
		<param-name>PortMail</param-name>
		<param-value>25</param-value>
	</context-param>
	<!--
	<context-param>
		<description></description>
		<param-name>NameBD</param-name>
		<param-value>SIGMADOC</param-value>
	</context-param>
	
	<context-param>
		<description></description>
		<param-name>PortBD</param-name>
		<param-value>1521</param-value>
	</context-param>
	
	<context-param>
		<description></description>
		<param-name>ServerDB</param-name>
		<param-value>192.168.0.6</param-value>
	</context-param>
	-->
	<context-param>
		<description></description>
		<param-name>RutaBase</param-name>
		<param-value>/SIGA</param-value>
	</context-param>
	
	<context-param>
		<description></description>
		<param-name>ItemType</param-name>
		<param-value>SIGA</param-value>
	</context-param>
	
	<context-param>
		<description></description>
		<param-name>ActivarPortal</param-name>
		<param-value>no</param-value>
	</context-param>
		
	<context-param>
		<description></description>
		<param-name>Imagen</param-name>
		<param-value>1</param-value>
	</context-param>
	
	<context-param>
		<description></description>
		<param-name>ActivarContent</param-name>
		<param-value>si</param-value>
	</context-param>
	
	<context-param>
		<description>
			Si el valor es 0 se activa la generacion de folio por area. Si es 1 se activa la generacion por Docto
		</description>
		<param-name>genFolio</param-name>
		<param-value>1</param-value>
	</context-param>
	
	<context-param>
		<description> 
		Si el valor es 0 no se activa el registro por LDAP. Si es valor es 1 se actviva lo del LDAP
		</description>
		<param-name>ActivarLDAP</param-name>
		<param-value>1</param-value>
	</context-param>

        <!-- Credenciales otorgadas el dia 09 de junio del 2011 para usuario principal -->
	<context-param>
		<description>Cuenta principal para LDAP</description>
		<param-name>globalUserLDAP</param-name>
		<param-value>oracle_test1@hacienda.ad.gob.mx</param-value>
	</context-param>

	<context-param>
		<description>Pass principal para LDAP</description>
		<param-name>globalPassLDAP</param-name>
		<param-value>chicoris</param-value>
	</context-param>
        <!-- Credenciales otorgadas el dia 09 de junio del 2011 para usuario principal -->

	
	<!--<context-param>
		<description>UserApplet</description>
		<param-name>userapplet</param-name>
		<param-value>sigmadoc</param-value>
	</context-param>

	<context-param>
		<description>passwdApplet</description>
		<param-name>passapplet</param-name>
		<param-value>sigmadoc</param-value>
	</context-param>-->
	
	<context-param>
		<description>
			Segundo
		</description>
		<param-name>segundo</param-name>
		<param-value>0</param-value>
	</context-param>
	
	<context-param>
		<description>
			Minuto
		</description>
		<param-name>minuto</param-name>
		<param-value>0</param-value>
	</context-param>
	
	<context-param>
		<description>
			Hora
		</description>
		<param-name>hora</param-name>
		<param-value>8/6</param-value>
	</context-param>
	
	<context-param>
		<description>
			Dia Hora
		</description>
		<param-name>diaMes</param-name>
		<param-value>?</param-value>
	</context-param>
	
	<context-param>
		<description>
			Mes
		</description>
		<param-name>mes</param-name>
		<param-value>*</param-value>
	</context-param>
	
	<context-param>
		<description>
			Dias entre semana
		</description>
		<param-name>diaSemana</param-name>
		<param-value>MON-FRI</param-value>
	</context-param>
	
	<context-param>
		<description>
			Ultima version del EAR
		</description>
		<param-name>versionEar</param-name>
		<param-value>SIGA_20250326_V_WLS.14.1.1</param-value>
	</context-param>
    
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
		  <param-name>debug</param-name>
		  <param-value>1</param-value>
		</init-param>
		<init-param>
		  <param-name>detail</param-name>
		  <param-value>3</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		AsuntoWord</display-name>
		<servlet-name>AsuntoWord</servlet-name>
		<servlet-class>
		com.meve.sigma.servlet.AsuntoWord</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		CrearAsuntoCiudadano</display-name>
		<servlet-name>CrearAsuntoCiudadano</servlet-name>
		<servlet-class>
		com.meve.sigma.servlet.CrearAsuntoCiudadano</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		ImportarCM</display-name>
		<servlet-name>ImportarCM</servlet-name>
		<servlet-class>
		com.meve.sigma.servlet.ImportarCM</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		CrearAsuntoCiudadanoUCT</display-name>
		<servlet-name>CrearAsuntoCiudadanoUCT</servlet-name>
		<servlet-class>
		com.meve.sigma.servlet.CrearAsuntoCiudadanoUCT</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>AjaxUtil</display-name>
		<servlet-name>AjaxUtil</servlet-name>
		<servlet-class>
		com.meve.sigma.servlet.AjaxUtil</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>EstructuraOrganizacionalAjax</display-name>
		<servlet-name>EstructuraOrganizacionalAjax</servlet-name>
		<servlet-class>
		com.meve.sigma.organizacional.servlet.EstructuraOrganizacionalAjax</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		Ver</display-name>
		<servlet-name>Ver</servlet-name>
		<servlet-class>
		com.meve.sigma.servlet.Ver</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		Report</display-name>
		<servlet-name>Report</servlet-name>
		<servlet-class>
		com.meve.sigma.reportes.Report</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		ReportCiudadano</display-name>
		<servlet-name>ReportCiudadano</servlet-name>
		<servlet-class>
		com.meve.sigma.reportes.ReportCiudadano</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		ReportAsunto</display-name>
		<servlet-name>ReportAsunto</servlet-name>
		<servlet-class>
		com.meve.sigma.reportes.ReportAsunto</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		Graficas</display-name>
		<servlet-name>Graficas</servlet-name>
		<servlet-class>
		com.meve.sigma.graficas.Graficas</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		QuartzTest</display-name>
		<servlet-name>QuartzTest</servlet-name>
		<servlet-class>
		com.meve.sigma.quartz.QuartzTest</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>
		CewolfServlet</display-name>
		<servlet-name>CewolfServlet</servlet-name>
		<servlet-class>
		de.laures.cewolf.CewolfRenderer</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>storage</param-name>
			<param-value>de.laures.cewolf.storage.TransientSessionStorage</param-value>
		</init-param>
		<init-param>
			<description>
			</description>
			<param-name>overliburl</param-name>
			<param-value>/js/overlib.js</param-value>
		</init-param>
		<init-param>
			<description>
			</description>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		RporTipDocto</display-name>
		<servlet-name>RporTipDocto</servlet-name>
		<servlet-class>
		com.meve.sigma.reportes.RporTipDocto</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		GeneraReporte</display-name>
		<servlet-name>GeneraReporte</servlet-name>
		<servlet-class>
		com.meve.sigma.reporte.GeneraReporte</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		ReportExcel</display-name>
		<servlet-name>ReportExcel</servlet-name>
		<servlet-class>
		com.meve.sigma.reportes.ReportExcel</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		ArchivoCM</display-name>
		<servlet-name>ArchivoCM</servlet-name>
		<servlet-class>
		com.meve.sigma.servlet.ArchivoCM</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		UploadArchivo</display-name>
		<servlet-name>UploadArchivo</servlet-name>
		<servlet-class>
		com.meve.sigma.servlet.UploadArchivo</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		VerContent</display-name>
		<servlet-name>VerContent</servlet-name>
		<servlet-class>
		com.meve.sigma.servlet.VerContent</servlet-class>
	</servlet>
	
	<servlet>
		<description></description>
		<display-name>
		DownLoadDicument</display-name>
		<servlet-name>DownLoadDicument</servlet-name>
		<servlet-class>
		com.meve.sigma.servlet.DownLoadDicument</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>
		ReporteInstruccion</display-name>
		<servlet-name>ReporteInstruccion</servlet-name>
		<servlet-class>com.meve.sigma.reportes.ReporteInstruccion</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>
		ReporteAsuntoExcel</display-name>
		<servlet-name>ReporteAsuntoExcel</servlet-name>
		<servlet-class>
		com.meve.sigma.reportes.ReporteAsuntoExcel</servlet-class>
	</servlet>

	<servlet>
		<description>
		ReporteBeanExcel</description>
		<display-name>
		ReporteBeanExcel</display-name>
		<servlet-name>ReporteBeanExcel</servlet-name>
		<servlet-class>
		com.meve.sigma.reportes.ReporteBeanExcel</servlet-class>
	</servlet>

        <servlet>
                    <description>
                    ReporteBeanPDF</description>
                    <display-name>
                    ReporteBeanPDF</display-name>
                    <servlet-name>ReporteBeanPDF</servlet-name>
                    <servlet-class>
                    com.meve.sigma.reportes.ReporteBeanPDF</servlet-class>
        </servlet>

	<servlet>
		<description></description>
		<display-name>
		CreaAsuntos</display-name>
		<servlet-name>CreaAsuntos</servlet-name>
		<servlet-class>
		com.meve.sigma.scp.CreaAsuntos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreaAsuntos</servlet-name>
		<url-pattern>/CreaAsuntos</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AsuntoWord</servlet-name>
		<url-pattern>/AsuntoWord</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CrearAsuntoCiudadano</servlet-name>
		<url-pattern>/CrearAsuntoCiudadano</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ImportarCM</servlet-name>
		<url-pattern>/ImportarCM</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CrearAsuntoCiudadanoUCT</servlet-name>
		<url-pattern>/CrearAsuntoCiudadanoUCT</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Ver</servlet-name>
		<url-pattern>/Ver</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Report</servlet-name>
		<url-pattern>/Report</url-pattern>
	</servlet-mapping>
	
    <servlet-mapping>
		<servlet-name>GeneraReporte</servlet-name>
		<url-pattern>/GeneraReporte</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ReportCiudadano</servlet-name>
		<url-pattern>/ReportCiudadano</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ReportAsunto</servlet-name>
		<url-pattern>/ReportAsunto</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Graficas</servlet-name>
		<url-pattern>/Graficas</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AjaxUtil</servlet-name>
		<url-pattern>/AjaxUtil</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>EstructuraOrganizacionalAjax</servlet-name>
		<url-pattern>/EstructuraOrganizacionalAjax</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CewolfServlet</servlet-name>
		<url-pattern>/cewolf/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RporTipDocto</servlet-name>
		<url-pattern>/RporTipDocto</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ReportExcel</servlet-name>
		<url-pattern>/ReportExcel</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ArchivoCM</servlet-name>
		<url-pattern>/ArchivoCM</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UploadArchivo</servlet-name>
		<url-pattern>/UploadArchivo</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>VerContent</servlet-name>
		<url-pattern>/VerContent</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DownLoadDicument</servlet-name>
		<url-pattern>/DownLoadDicument</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteInstruccion</servlet-name>
		<url-pattern>/ReporteInstruccion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteAsuntoExcel</servlet-name>
		<url-pattern>/ReporteAsuntoExcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuartzTest</servlet-name>
		<url-pattern>/QuartzTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteBeanExcel</servlet-name>
		<url-pattern>/ReporteBeanExcel</url-pattern>
	</servlet-mapping>
	
    <servlet-mapping>
        <servlet-name>ReporteBeanPDF</servlet-name>
        <url-pattern>/ReporteBeanPDF</url-pattern>
    </servlet-mapping>
        
    <servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.siga</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<jsp-config>
	    <taglib>
			<taglib-uri>/tags/struts-bean</taglib-uri>
			<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-html</taglib-uri>
			<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-logic</taglib-uri>
			<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-nested</taglib-uri>
			<taglib-location>
				/WEB-INF/struts-nested.tld
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-tiles</taglib-uri>
			<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>meve_combo</taglib-uri>
			<taglib-location>/WEB-INF/com-meve-taglib.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>meve_front</taglib-uri>
			<taglib-location>/WEB-INF/com-meve-front.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>c</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>meve_asunto</taglib-uri>
			<taglib-location>/WEB-INF/com-meve-asuntos.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>meve_instruccion</taglib-uri>
			<taglib-location>/WEB-INF/instrucciones_arbol.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>display</taglib-uri>
			<taglib-location>/WEB-INF/displaytag-12.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>cewolf</taglib-uri>
			<taglib-location>/WEB-INF/cewolf.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>MyRealm</realm-name>
	</login-config>
        <resource-ref>
		<description>
		</description>
		<res-ref-name>jdbc/ds1sigma</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref> 
</web-app>
