UNKNOWN {
	SCROLLBAR-FACE-COLOR: #e1d8ce;
	SCROLLBAR-HIGHLIGHT-COLOR: #e1d8ce;
	SCROLLBAR-SHADOW-COLOR: #e1d8ce;
	SCROLLBAR-3DLIGHT-COLOR: #e1d8ce;
	SCROLLBAR-ARROW-COLOR: #d95d18;
	SCROLLBAR-TRACK-COLOR: #a4491d;
	SCROLLBAR-DARKSHADOW-COLOR: #e1d8ce
}

BODY {
	FONT-SIZE: 12px;
	MARGIN: 10px;
	COLOR: #00204f;
	FONT-FAMILY: MS Sans Serif, Arial, Helvetica;
	BACKGROUND-COLOR: #ffffff
}

.Body2 {
	FONT-SIZE: 12px;
	MARGIN: 0px;
	FONT-FAMILY: Verdana
}

.BordeTabla {
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
	BORDER-LEFT: #cccccc 1px solid;
	BORDER-BOTTOM: #cccccc 1px solid
}

.BordeTabla2 {
	BORDER-RIGHT: #00204f 1px solid;
	BORDER-TOP: #00204f 1px solid;
	BORDER-LEFT: #00204f 1px solid;
	BORDER-BOTTOM: #00204f 1px solid
}

TD {
	FONT-SIZE: 12px;
	COLOR: #00204f;
	FONT-FAMILY: MS Sans Serif, Arial, Helvetica
}

P {
	FONT-SIZE: 12px;
	COLOR: #00204f;
	FONT-FAMILY: MS Sans Serif, Arial, Helvetica
}

DIV {
	FONT-SIZE: 12px;
	COLOR: #00204f;
	FONT-FAMILY: MS Sans Serif, Arial, Helvetica
}

SPAN {
	FONT-SIZE: 12px;
	COLOR: #00204f;
	FONT-FAMILY: MS Sans Serif, Arial, Helvetica
}

A {
	FONT-SIZE: 12px;
	CURSOR: hand;
	FONT-FAMILY: MS Sans Serif, Arial, Helvetica;
	TEXT-DECORATION: none
}

A:link {
	COLOR: #00204f
}

A:visited {
	COLOR: #00204f
}

A:active {
	COLOR: #00204f
}

A:hover {
	COLOR: #00A1E0;
	BACKGROUND-COLOR: #e1e1e1
}

A.normal {
	FONT-SIZE: 12px;
	CURSOR: hand;
	FONT-FAMILY: Arial, Helvetica;
	TEXT-DECORATION: none
}

A.normal:link {
	COLOR: #00204f
}

A.normal:visited {
	COLOR: #00204f
}

A.normal:active {
	COLOR: #00204f
}

A.normal:hover {
	CURSOR: hand;
	COLOR: #00204f;
	BACKGROUND-COLOR: #a4491d
}

.smallfnt {
	FONT: 12px Arial, Helvetica;
	COLOR: #00204f
}

TD.menu {
	FONT-SIZE: 12px;
	CURSOR: hand;
	FONT-FAMILY: Arial, Helvetica;
	TEXT-DECORATION: none
}

A.menu {
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica;
	TEXT-DECORATION: none
}

A.menu:link {
	COLOR: #00204f
}

A.menu:visited {
	COLOR: #00204f
}

A.menu:active {
	COLOR: #00204f
}

A.menu:hover {
	COLOR: #a4491d;
	BACKGROUND-COLOR: #00204f
}

.fichamenu {
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 15px;
	CURSOR: hand;
	PADDING-TOP: 15px;
	BACKGROUND-COLOR: #a9907e
}

.fichaCONT {
	COLOR: #00204f;
	BACKGROUND-COLOR: #a9907e
}

.fichaTIT {
	COLOR: #8c5129;
	BACKGROUND-COLOR: #d6c8bd
}

.silverc {
	BORDER-RIGHT: silver thin solid;
	BORDER-TOP: silver thin solid;
	FONT-SIZE: 10px;
	BACKGROUND: silver;
	BORDER-LEFT: silver thin solid;
	WIDTH: 180px;
	COLOR: black;
	BORDER-BOTTOM: silver thin solid;
	FONT-FAMILY: verdana;
	ONMOUSEOVER: blue;
	FONT-DECORATION: bold
}

.blue1000 {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 1000px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue800 {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 800px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue700 {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 700px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue700a {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 700px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue600a {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 600px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue500 {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 500px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue500a {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 500px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue400 {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 400px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue400a {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 400px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue300 {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 300px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue300a {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 300px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue200 {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 200px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue200a {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 200px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue100 {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 100px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue100a {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 100px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue100b {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 100px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue70 {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 70px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue50 {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 50px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue50a {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 10px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 50px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue10 {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 17px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.blue5 {
	BORDER-RIGHT: #6699cc 1pt ridge;
	BORDER-TOP: #6699cc 1pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1pt ridge;
	WIDTH: 10px;
	COLOR: black;
	BORDER-BOTTOM: #6699cc 1pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: navy
}

.etiquetas {
	FONT-SIZE: 12px;
	COLOR: #004080;
	FONT-FAMILY: Arial
}

.etiquetasTit {
	FONT-SIZE: 12px;
	COLOR: ffffff;
	FONT-FAMILY: Arial
}

.etiquetas1 {
	FONT-SIZE: 14px;
	COLOR: #004080;
	FONT-FAMILY: Arial
}

.etiquetasv {
	FONT-SIZE: 12px;
	COLOR: #004080;
	FONT-FAMILY: Verdana
}

.etiquetas1v {
	FONT-SIZE: 14px;
	COLOR: #004080;
	FONT-FAMILY: Verdana
}

.marco {
	BORDER-RIGHT: #6699cc 1.2pt ridge;
	BORDER-TOP: #6699cc 1.2pt ridge;
	FONT-SIZE: 12px;
	BACKGROUND: #f6f6f6;
	BORDER-LEFT: #6699cc 1.2pt ridge;
	WIDTH: 55px;
	COLOR: blue;
	BORDER-BOTTOM: #6699cc 1.2pt inset;
	FONT-FAMILY: verdana;
	FONT-DECORATION: bold;
	BORDERCOLOR: red
}

BODY {
	SCROLLBAR-FACE-COLOR: #00204f;
	SCROLLBAR-3DLIGHT-COLOR: #335997;
	SCROLLBAR-ARROW-COLOR: #ffffce;
	SCROLLBAR-TRACK-COLOR: #f6f6f6;
	SCROLLBAR-DARKSHADOW-COLOR: black
}

DIV.divBody {
	OVERFLOW: auto;
	WIDTH: 100%;
	HEIGHT: 0px
}

.dtree {
	FONT-SIZE: 11px;
	COLOR: #666;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	WHITE-SPACE: nowrap
}

.dtree IMG {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	VERTICAL-ALIGN: middle;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px
}

.dtree A {
	COLOR: #333;
	TEXT-DECORATION: none
}

.dtree A.node {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	WHITE-SPACE: nowrap
}

.dtree A.nodeSel {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	WHITE-SPACE: nowrap
}

.dtree A.node:hover {
	COLOR: #333;
	TEXT-DECORATION: underline
}

.dtree A.nodeSel:hover {
	COLOR: #333;
	TEXT-DECORATION: underline
}

.dtree A.nodeSel {
	BACKGROUND-COLOR: #c0d2ec
}

.dtree .clip {
	OVERFLOW: hidden
}

.dominoTopTab {
	border-left: solid thin #e0e0e0;
	border-top: solid thin #e0e0e0;
	border-right: solid thin gray;
	text-align: center;
}

.dominoSelTopTab {
	border-left: solid thin #e0e0e0;
	border-top: solid thin #e0e0e0;
	border-right: solid thin black;
	font-weight: bold;
	text-align: center;
	color: white;
}

.dominoBottomTab {
	border-left: solid thin #e0e0e0;
	border-bottom: solid thin #e0e0e0;
	border-right: solid thin gray;
	text-align: center;
}

.dominoSelBottomTab {
	border-left: solid thin #e0e0e0;
	border-bottom: solid thin #e0e0e0;
	border-right: solid thin black;
	font-weight: bold;
	text-align: center;
}

.bluethinBorder {
	border-color: #D2E1F4;
	border-style: solid; 
	border-width: 1px;
}